name: Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: {}

concurrency:
  group: unit-tests-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: ["ubuntu-latest", "windows-latest", "macos-latest"]
        python-version: ["3.12"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install uv
        id: setup-uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true
          cache-dependency-glob: |
            **/uv.lock
            **/pyproject.toml

      - name: Install dependencies
        run: uv sync --all-extras --dev

      - name: Run tests & coverage
        run: |
          uv run coverage run --source=src/representation_geometry -m pytest tests/
          uv run coverage report -m
          uv run coverage xml -o coverage.xml

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-${{ matrix.operating-system }}-py${{ matrix.python-version }}
          path: |
            coverage.xml
            .coverage
